---
import Layout from "../components/Layout.astro";
---

<Layout
  title="搜索"
  description="搜索功能暂时关闭。"
  activeNav="search"
>
  <section class="reserved-page" aria-label="搜索暂未开放"></section>
</Layout>
